<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <config>
    	<add key="repositoryPath" value=".\packages" />
    </config>

    <packageRestore>
    	<add key="enabled" value="true" />
    	<add key="automatic" value="true" />
    </packageRestore>
    <activePackageSource>
    	<add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->

    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
    <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Default Package Sources that are disabled by default. -->
    <!-- Works like the 'disabledPackageSources' section of NuGet.Config files. -->
    <!-- Sources cannot be modified or deleted either but can be enabled/disabled by users. -->
    <disabledPackageSources>
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>